<h1>Create a Team and Heroes!</h1>

<form method="post" action="/teams">
<p>
<h2>Team:</h2>
    <label for="team_name">Team's Name:</label>
    <input type="text" id="team_name" name="team[name]">
    <label for="team_motto">Team's Motto:</label>
    <input type="text" id="team_motto" name="team[motto]">
</p>
<h2> Super Hero:</h2>
<p>
    <h3>Hero 1:</h3>
    <label for="member1_name">Super Hero's Name:</label>
    <input type="text" id="member1_name" name="team[super_hero][][name]">
    <label for="member1_power">Super Hero's Power:</label>
    <input type="text" id="member1_power" name="team[super_hero][][power]">
    <label for="member1_bio">Super Hero's Biography:</label>
    <input type="text" id="member1_bio" name="team[super_hero][][bio]">
</p>
<p>
    <h3>Hero 2:</h3>
    <label for="member2_name">Super Hero's Name:</label>
    <input type="text" id="member2_name" name="team[super_hero][][name]">
    <label for="member2_power">Super Hero's Power:</label>
    <input type="text" id="member2_power" name="team[super_hero][][power]">
    <label for="member2_bio">Super Hero's Biography:</label>
    <input type="text" id="member2_bio" name="team[super_hero][][bio]">
</p>
<p>
    <h3>Hero 3:</h3>
    <label for="member3_name">Super Hero's Name:</label>
    <input type="text" id="member3_name" name="team[super_hero][][name]">
    <label for="member3_power">Super Hero's Power:</label>
    <input type="text" id="member3_power" name="team[super_hero][][power]">
    <label for="member3_bio">Super Hero's Biography:</label>
    <input type="text" id="member3_bio" name="team[super_hero][][bio]">
</p>
<br>
    <button type="submit" id="submit">Submit</button>
</form>